name: CI Pipeline

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cache de dependências
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('Rec/requirements.txt') }}

      - name: Instalar dependências
        working-directory: Rec
        run: pip install -r requirements.txt

      - name: Rodar testes
        working-directory: Rec
        run: python manage.py test
